5.0 sample/mqtt/WiFiSwitchMqTTNode.txt
[
    {
        "id": "8586cc2a.ec8d3",
        "type": "ui_gauge",
        "z": "2b77fba2.0263b4",
        "name": "",
        "group": "f141ebe5.b87178",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 798,
        "y": 1131,
        "wires": []
    },
    {
        "id": "993e0948.55f108",
        "type": "inject",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "JNL000000/wifi/status",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 1071,
        "y": 1232,
        "wires": [
            [
                "1d89d875.236ff8"
            ]
        ]
    },
    {
        "id": "1dc5720b.8017be",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 606,
        "y": 1130,
        "wires": [
            [
                "8586cc2a.ec8d3"
            ]
        ]
    },
    {
        "id": "e4d629bb.cc9bc8",
        "type": "ui_gauge",
        "z": "2b77fba2.0263b4",
        "name": "",
        "group": "f141ebe5.b87178",
        "order": 0,
        "width": "3",
        "height": "2",
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 1169,
        "wires": []
    },
    {
        "id": "84ae078.88d5cf8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 606,
        "y": 1167,
        "wires": [
            [
                "e4d629bb.cc9bc8"
            ]
        ]
    },
    {
        "id": "68798587.18435c",
        "type": "ui_dropdown",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "Duration",
        "group": "ea94a82e.4ec088",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "10 Min",
                "value": 0,
                "type": "num"
            },
            {
                "label": "15 Min",
                "value": 1,
                "type": "num"
            },
            {
                "label": "20 Min",
                "value": 2,
                "type": "num"
            },
            {
                "label": "25 Min",
                "value": 3,
                "type": "num"
            },
            {
                "label": "30 Min",
                "value": 4,
                "type": "num"
            },
            {
                "label": "45 Min",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "JNL000000/wifi/switch/duration",
        "x": 862,
        "y": 1304,
        "wires": [
            [
                "1d89d875.236ff8"
            ]
        ]
    },
    {
        "id": "1d89d875.236ff8",
        "type": "mqtt out",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "f0c623b0.1e613",
        "x": 1170,
        "y": 1367,
        "wires": []
    },
    {
        "id": "fd31a066.8784f",
        "type": "mqtt in",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "JNL000000/wifi/statusInfo",
        "qos": "1",
        "broker": "f0c623b0.1e613",
        "x": 156,
        "y": 1285,
        "wires": [
            [
                "abb59b67.9b0b18"
            ]
        ]
    },
    {
        "id": "52a33d13.b557f4",
        "type": "ui_slider",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "Temperature",
        "group": "ea94a82e.4ec088",
        "order": 0,
        "width": "5",
        "height": "1",
        "passthru": true,
        "topic": "JNL000000/wifi/switch/temperature",
        "min": "15",
        "max": "30",
        "step": 1,
        "x": 871,
        "y": 1341,
        "wires": [
            [
                "1d89d875.236ff8",
                "fc3d4bbf.292ed8"
            ]
        ]
    },
    {
        "id": "35b1b9cc.c4e2c6",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 667,
        "y": 1307,
        "wires": [
            [
                "68798587.18435c"
            ]
        ]
    },
    {
        "id": "13ee9cd.0b00f63",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 664,
        "y": 1342,
        "wires": [
            [
                "52a33d13.b557f4"
            ]
        ]
    },
    {
        "id": "540216f8.c01628",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 665,
        "y": 1377,
        "wires": [
            [
                "7f63265a.aadbf8"
            ]
        ]
    },
    {
        "id": "7f63265a.aadbf8",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "SW-Now",
        "label": "Now",
        "group": "ea94a82e.4ec088",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "JNL000000/wifi/switch/now",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 861,
        "y": 1378,
        "wires": [
            [
                "1d89d875.236ff8"
            ]
        ]
    },
    {
        "id": "58d7a4b.0d4275c",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "SW-Book",
        "label": "Book",
        "group": "ea94a82e.4ec088",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "JNL000000/wifi/switch/book",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 860,
        "y": 1414,
        "wires": [
            [
                "1d89d875.236ff8"
            ]
        ]
    },
    {
        "id": "8c599c07.7cd12",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 665,
        "y": 1416,
        "wires": [
            [
                "58d7a4b.0d4275c"
            ]
        ]
    },
    {
        "id": "d5642ba3.15ea98",
        "type": "mqtt in",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "JNL000000/wifi/basicInfo",
        "qos": "1",
        "broker": "f0c623b0.1e613",
        "x": 156,
        "y": 1147,
        "wires": [
            [
                "eb6fdb44.071518"
            ]
        ]
    },
    {
        "id": "eb6fdb44.071518",
        "type": "json",
        "z": "2b77fba2.0263b4",
        "name": "",
        "x": 340,
        "y": 1147,
        "wires": [
            [
                "1dc5720b.8017be",
                "84ae078.88d5cf8",
                "a551c940.9465e8",
                "4406b192.9cc05"
            ]
        ]
    },
    {
        "id": "abb59b67.9b0b18",
        "type": "json",
        "z": "2b77fba2.0263b4",
        "name": "",
        "x": 301,
        "y": 1285,
        "wires": [
            [
                "cc7750db.a721a"
            ]
        ]
    },
    {
        "id": "ae0aaace.c55aa8",
        "type": "ui_text",
        "z": "2b77fba2.0263b4",
        "group": "f141ebe5.b87178",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 798,
        "y": 1094,
        "wires": []
    },
    {
        "id": "a551c940.9465e8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 606,
        "y": 1095,
        "wires": [
            [
                "ae0aaace.c55aa8"
            ]
        ]
    },
    {
        "id": "cc7750db.a721a",
        "type": "switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "property": "payload.Switch",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SetDuration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetTemperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetNow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetBook",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 428,
        "y": 1345,
        "wires": [
            [
                "35b1b9cc.c4e2c6"
            ],
            [
                "13ee9cd.0b00f63"
            ],
            [
                "540216f8.c01628"
            ],
            [
                "8c599c07.7cd12"
            ]
        ]
    },
    {
        "id": "6617ea66.3b9694",
        "type": "json",
        "z": "2b77fba2.0263b4",
        "name": "",
        "x": 159,
        "y": 1447,
        "wires": [
            [
                "eb030b82.984178",
                "3c945d95.c03ca2",
                "5479a0c8.4727e",
                "3aae064b.d782da",
                "cd0a8e12.e573",
                "73695a44.85aaa4",
                "a3f8801c.ece77",
                "43e8efe4.5a177",
                "b9eaa7a8.868aa8",
                "9dbdaf7e.9666c",
                "288c8e76.008d22",
                "21f4964.39ab56a",
                "edfb0bd4.55af58",
                "3bab8c94.3a3924",
                "cfe34906.559e38",
                "21a98fa9.d24cf",
                "9c423060.86747",
                "cfe1da5f.2d2fa8",
                "3d8becac.8cf334",
                "2e0d3178.8f51fe",
                "5b4d8c50.f5ec74",
                "e2be09a3.9805f8",
                "f3dd0d39.4e709",
                "94173d07.e9604"
            ]
        ]
    },
    {
        "id": "1f0b2701.929969",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "00 AM",
        "group": "4b1fbe81.6fc57",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H00\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H00\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 1505,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "bd13ae07.07f7a",
        "type": "mqtt out",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "JNL000000/wifi/switch/hours",
        "qos": "1",
        "retain": "false",
        "broker": "f0c623b0.1e613",
        "x": 1240,
        "y": 1434,
        "wires": []
    },
    {
        "id": "65293187.41b68",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H00\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H00\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 629,
        "y": 1507,
        "wires": [
            [
                "1f0b2701.929969"
            ]
        ]
    },
    {
        "id": "eb030b82.984178",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 405,
        "y": 1508,
        "wires": [
            [
                "65293187.41b68"
            ]
        ]
    },
    {
        "id": "ae5cf3d2.05828",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "01 AM",
        "group": "4b1fbe81.6fc57",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H01\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H01\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 797,
        "y": 1543,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "c5fc0008.4cd9f",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "02 AM",
        "group": "4b1fbe81.6fc57",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H02\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H02\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 800,
        "y": 1580,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "72540632.171a28",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "03 AM",
        "group": "4b1fbe81.6fc57",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H03\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H03\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 799,
        "y": 1619,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "fb5f809a.3f429",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "04 AM",
        "group": "4b1fbe81.6fc57",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H04\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H04\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 799,
        "y": 1655,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "61e95273.95635c",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "05 AM",
        "group": "4b1fbe81.6fc57",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H05\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H05\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 799,
        "y": 1694,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "d24c93b5.e6d63",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "06 AM",
        "group": "4b1fbe81.6fc57",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H06\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H06\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 797,
        "y": 1732,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "eb64a10f.e961c",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "07 AM",
        "group": "4b1fbe81.6fc57",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H07\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H07\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 799,
        "y": 1770,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "c49ce751.5e1528",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H01\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H01\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 1545,
        "wires": [
            [
                "ae5cf3d2.05828"
            ]
        ]
    },
    {
        "id": "b46e294c.def928",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H02\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H02\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 629,
        "y": 1582,
        "wires": [
            [
                "c5fc0008.4cd9f"
            ]
        ]
    },
    {
        "id": "c68b359b.fa7698",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H03\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H03\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 1619,
        "wires": [
            [
                "72540632.171a28"
            ]
        ]
    },
    {
        "id": "b397f9b9.811e48",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H04\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H04\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 627,
        "y": 1656,
        "wires": [
            [
                "fb5f809a.3f429"
            ]
        ]
    },
    {
        "id": "e490e409.6e9188",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H05\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H05\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 627,
        "y": 1693,
        "wires": [
            [
                "61e95273.95635c"
            ]
        ]
    },
    {
        "id": "eadca26b.eb1c6",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H06\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H06\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 627,
        "y": 1731,
        "wires": [
            [
                "d24c93b5.e6d63"
            ]
        ]
    },
    {
        "id": "6145e01.2cc482",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H07\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H07\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 624,
        "y": 1769,
        "wires": [
            [
                "eb64a10f.e961c"
            ]
        ]
    },
    {
        "id": "3c945d95.c03ca2",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 405,
        "y": 1547,
        "wires": [
            [
                "c49ce751.5e1528"
            ]
        ]
    },
    {
        "id": "5479a0c8.4727e",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 405,
        "y": 1583,
        "wires": [
            [
                "b46e294c.def928"
            ]
        ]
    },
    {
        "id": "3aae064b.d782da",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 402,
        "y": 1620,
        "wires": [
            [
                "c68b359b.fa7698"
            ]
        ]
    },
    {
        "id": "cd0a8e12.e573",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[4]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 402,
        "y": 1658,
        "wires": [
            [
                "b397f9b9.811e48"
            ]
        ]
    },
    {
        "id": "73695a44.85aaa4",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[5]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1695,
        "wires": [
            [
                "e490e409.6e9188"
            ]
        ]
    },
    {
        "id": "a3f8801c.ece77",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[6]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 398,
        "y": 1733,
        "wires": [
            [
                "eadca26b.eb1c6"
            ]
        ]
    },
    {
        "id": "43e8efe4.5a177",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[7]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 398,
        "y": 1769,
        "wires": [
            [
                "6145e01.2cc482"
            ]
        ]
    },
    {
        "id": "e8b9b472.768dc8",
        "type": "mqtt in",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "JNL000000/wifi/statusHours",
        "qos": "1",
        "broker": "f0c623b0.1e613",
        "x": 147,
        "y": 1364,
        "wires": [
            [
                "6617ea66.3b9694"
            ]
        ]
    },
    {
        "id": "a1202df8.bd59e",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "08 PM",
        "group": "4b1fbe81.6fc57",
        "order": 18,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H20\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H20\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 2257,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "b218165.710f6e8",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "09 PM",
        "group": "4b1fbe81.6fc57",
        "order": 20,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H21\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H21\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 2292,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "9d1b2f5b.fd52a",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "10 PM",
        "group": "4b1fbe81.6fc57",
        "order": 22,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H22\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H22\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 795,
        "y": 2331,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "cc4a4ea.61db8b",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "11 PM",
        "group": "4b1fbe81.6fc57",
        "order": 24,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H23\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H23\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 797,
        "y": 2368,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "7ee6e219.702cac",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H20\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H20\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 609,
        "y": 2259,
        "wires": [
            [
                "a1202df8.bd59e"
            ]
        ]
    },
    {
        "id": "61a0ae80.3e85b",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H21\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H21\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 606,
        "y": 2297,
        "wires": [
            [
                "b218165.710f6e8"
            ]
        ]
    },
    {
        "id": "f34e1503.2f2118",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H22\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H22\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 606,
        "y": 2334,
        "wires": [
            [
                "9d1b2f5b.fd52a"
            ]
        ]
    },
    {
        "id": "dda30a79.8b6498",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H23\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H23\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 605,
        "y": 2371,
        "wires": [
            [
                "cc4a4ea.61db8b"
            ]
        ]
    },
    {
        "id": "b9eaa7a8.868aa8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[20]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383,
        "y": 2262,
        "wires": [
            [
                "7ee6e219.702cac"
            ]
        ]
    },
    {
        "id": "9dbdaf7e.9666c",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[21]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 382,
        "y": 2300,
        "wires": [
            [
                "61a0ae80.3e85b"
            ]
        ]
    },
    {
        "id": "288c8e76.008d22",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[22]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2338,
        "wires": [
            [
                "f34e1503.2f2118"
            ]
        ]
    },
    {
        "id": "21f4964.39ab56a",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[23]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 379,
        "y": 2375,
        "wires": [
            [
                "dda30a79.8b6498"
            ]
        ]
    },
    {
        "id": "fc3d4bbf.292ed8",
        "type": "ui_text",
        "z": "2b77fba2.0263b4",
        "group": "ea94a82e.4ec088",
        "order": 0,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1063,
        "y": 1289,
        "wires": []
    },
    {
        "id": "4406b192.9cc05",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.msg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 607,
        "y": 1213,
        "wires": [
            [
                "4c9511f4.33c2"
            ]
        ]
    },
    {
        "id": "4c9511f4.33c2",
        "type": "ui_text",
        "z": "2b77fba2.0263b4",
        "group": "ea94a82e.4ec088",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 803,
        "y": 1212,
        "wires": []
    },
    {
        "id": "f4a5c3b5.86a4f",
        "type": "inject",
        "z": "2b77fba2.0263b4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "x": 364,
        "y": 1204,
        "wires": [
            [
                "fb22c91d.bdf3c8"
            ]
        ]
    },
    {
        "id": "fb22c91d.bdf3c8",
        "type": "function",
        "z": "2b77fba2.0263b4",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 604,
        "y": 1256,
        "wires": [
            [
                "4c9511f4.33c2"
            ]
        ]
    },
    {
        "id": "274b05d6.247f1a",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "08 AM",
        "group": "4b1fbe81.6fc57",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H08\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H08\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 800,
        "y": 1808,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "288f5a0f.0688e6",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "09 AM",
        "group": "4b1fbe81.6fc57",
        "order": 19,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H09\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H09\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 797,
        "y": 1845,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "7be9b0da.0c96e",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "10 AM",
        "group": "4b1fbe81.6fc57",
        "order": 21,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H10\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H10\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 797,
        "y": 1884,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "5fa6d5e2.ef0d8c",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "11 AM",
        "group": "4b1fbe81.6fc57",
        "order": 23,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H11\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H11\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 1921,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "fa04be49.0b241",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "12 PM",
        "group": "4b1fbe81.6fc57",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H12\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H12\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 1957,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "5df73e7e.4ad61",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "01 PM",
        "group": "4b1fbe81.6fc57",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H13\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H13\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 795,
        "y": 1993,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "af0c9659.caafa8",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "02 PM",
        "group": "4b1fbe81.6fc57",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H14\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H14\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 795,
        "y": 2032,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "57b80a0d.dae2a4",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "03 PM",
        "group": "4b1fbe81.6fc57",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H15\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H15\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 2069,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "13d88ad.ed55775",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "04 PM",
        "group": "4b1fbe81.6fc57",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H16\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H16\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 794,
        "y": 2112,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "b04d91fd.584a6",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "05 PM",
        "group": "4b1fbe81.6fc57",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H17\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H17\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 796,
        "y": 2149,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "a92085f7.1ee8f8",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "06 PM",
        "group": "4b1fbe81.6fc57",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H18\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H18\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 797,
        "y": 2184,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "b1d8097b.ce33c8",
        "type": "ui_switch",
        "z": "2b77fba2.0263b4",
        "name": "",
        "label": "07 PM",
        "group": "4b1fbe81.6fc57",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{ \"H19\" : 1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"H19\" : 0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 798,
        "y": 2222,
        "wires": [
            [
                "bd13ae07.07f7a"
            ]
        ]
    },
    {
        "id": "3a561263.aa98ce",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H08\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H08\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 624,
        "y": 1807,
        "wires": [
            [
                "274b05d6.247f1a"
            ]
        ]
    },
    {
        "id": "7beb1c1b.296c64",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H09\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H09\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 624,
        "y": 1845,
        "wires": [
            [
                "288f5a0f.0688e6"
            ]
        ]
    },
    {
        "id": "70eb29a9.7d2d58",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H10\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H10\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 623,
        "y": 1883,
        "wires": [
            [
                "7be9b0da.0c96e"
            ]
        ]
    },
    {
        "id": "3331218b.eaab7e",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H11\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H11\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 623,
        "y": 1920,
        "wires": [
            [
                "5fa6d5e2.ef0d8c"
            ]
        ]
    },
    {
        "id": "d7c6681e.b839a8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H12\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H12\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 621,
        "y": 1957,
        "wires": [
            [
                "fa04be49.0b241"
            ]
        ]
    },
    {
        "id": "18db156a.0070ab",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H13\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H13\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 619,
        "y": 1994,
        "wires": [
            [
                "5df73e7e.4ad61"
            ]
        ]
    },
    {
        "id": "8ac8d996.54e938",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H14\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H14\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 619,
        "y": 2032,
        "wires": [
            [
                "af0c9659.caafa8"
            ]
        ]
    },
    {
        "id": "a3a04fa6.5f384",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H15\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H15\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 619,
        "y": 2068,
        "wires": [
            [
                "57b80a0d.dae2a4"
            ]
        ]
    },
    {
        "id": "d6d33a8.498aec8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H16\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H16\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 2110,
        "wires": [
            [
                "13d88ad.ed55775"
            ]
        ]
    },
    {
        "id": "7297ec11.c17214",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H17\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H17\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 612,
        "y": 2147,
        "wires": [
            [
                "b04d91fd.584a6"
            ]
        ]
    },
    {
        "id": "9f0fd585.207948",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H18\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H18\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 609,
        "y": 2185,
        "wires": [
            [
                "a92085f7.1ee8f8"
            ]
        ]
    },
    {
        "id": "6781aa8b.206ab4",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{ \"H19\": 1}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{ \"H19\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 609,
        "y": 2221,
        "wires": [
            [
                "b1d8097b.ce33c8"
            ]
        ]
    },
    {
        "id": "edfb0bd4.55af58",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[8]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 396,
        "y": 1805,
        "wires": [
            [
                "3a561263.aa98ce"
            ]
        ]
    },
    {
        "id": "3bab8c94.3a3924",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[9]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 396,
        "y": 1841,
        "wires": [
            [
                "7beb1c1b.296c64"
            ]
        ]
    },
    {
        "id": "cfe34906.559e38",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[10]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 1880,
        "wires": [
            [
                "70eb29a9.7d2d58"
            ]
        ]
    },
    {
        "id": "21a98fa9.d24cf",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[11]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 393,
        "y": 1918,
        "wires": [
            [
                "3331218b.eaab7e"
            ]
        ]
    },
    {
        "id": "9c423060.86747",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[12]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 393,
        "y": 1956,
        "wires": [
            [
                "d7c6681e.b839a8"
            ]
        ]
    },
    {
        "id": "cfe1da5f.2d2fa8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[13]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 392,
        "y": 1993,
        "wires": [
            [
                "18db156a.0070ab"
            ]
        ]
    },
    {
        "id": "3d8becac.8cf334",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[14]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 391,
        "y": 2031,
        "wires": [
            [
                "8ac8d996.54e938"
            ]
        ]
    },
    {
        "id": "2e0d3178.8f51fe",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[15]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 2068,
        "wires": [
            [
                "a3a04fa6.5f384"
            ]
        ]
    },
    {
        "id": "5b4d8c50.f5ec74",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[16]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 387,
        "y": 2112,
        "wires": [
            [
                "d6d33a8.498aec8"
            ]
        ]
    },
    {
        "id": "e2be09a3.9805f8",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[17]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 387,
        "y": 2148,
        "wires": [
            [
                "7297ec11.c17214"
            ]
        ]
    },
    {
        "id": "f3dd0d39.4e709",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[18]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 387,
        "y": 2187,
        "wires": [
            [
                "9f0fd585.207948"
            ]
        ]
    },
    {
        "id": "94173d07.e9604",
        "type": "change",
        "z": "2b77fba2.0263b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hours[19]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 386,
        "y": 2225,
        "wires": [
            [
                "6781aa8b.206ab4"
            ]
        ]
    },
    {
        "id": "2c77f9da.172516",
        "type": "ui_button",
        "z": "2b77fba2.0263b4",
        "name": "",
        "group": "4b1fbe81.6fc57",
        "order": 0,
        "width": "3",
        "height": "1",
        "label": "Set",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "JNL000000/wifi/switch/sethours",
        "x": 607,
        "y": 1466,
        "wires": [
            [
                "1d89d875.236ff8",
                "94d89311.ee515"
            ]
        ]
    },
    {
        "id": "62eb99ff.7ae898",
        "type": "ui_button",
        "z": "2b77fba2.0263b4",
        "name": "",
        "group": "4b1fbe81.6fc57",
        "order": 0,
        "width": "3",
        "height": "1",
        "label": "Reset",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "JNL000000/wifi/switch/sethours",
        "x": 768,
        "y": 1464,
        "wires": [
            [
                "1d89d875.236ff8",
                "94d89311.ee515"
            ]
        ]
    },
    {
        "id": "94d89311.ee515",
        "type": "debug",
        "z": "2b77fba2.0263b4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1228,
        "y": 1301,
        "wires": []
    },
    {
        "id": "f141ebe5.b87178",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "2b01e3a.43a9d1c",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ea94a82e.4ec088",
        "type": "ui_group",
        "z": "",
        "name": "Heater Switch",
        "tab": "f90da8ae.69f1b8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f0c623b0.1e613",
        "type": "mqtt-broker",
        "z": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "client-gazet",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4b1fbe81.6fc57",
        "type": "ui_group",
        "z": "",
        "name": "Book Hours",
        "tab": "f90da8ae.69f1b8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2b01e3a.43a9d1c",
        "type": "ui_tab",
        "z": "",
        "name": "Info",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "f90da8ae.69f1b8",
        "type": "ui_tab",
        "z": "",
        "name": "Setting",
        "icon": "dashboard",
        "order": 1
    }
]