4.1 sample/nodered2/nodered2.txt
[{"id":"2a362f0b.09c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7e26bc4.1a1128","type":"ui_gauge","z":"2a362f0b.09c7","name":"","group":"10453615.e83b4a","order":0,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":140,"wires":[]},{"id":"df14ed7e.319f6","type":"change","z":"2a362f0b.09c7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":578,"y":139,"wires":[["d7e26bc4.1a1128"]]},{"id":"c40dbb5a.0b0fe8","type":"ui_gauge","z":"2a362f0b.09c7","name":"","group":"10453615.e83b4a","order":0,"width":"3","height":"2","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":762,"y":178,"wires":[]},{"id":"503ede96.fecb3","type":"change","z":"2a362f0b.09c7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":578,"y":176,"wires":[["c40dbb5a.0b0fe8"]]},{"id":"3df7b5f8.ec498a","type":"mqtt in","z":"2a362f0b.09c7","name":"","topic":"JNL000000/wifi/basicInfo","qos":"1","broker":"bd77639a.0fe6b","x":128,"y":156,"wires":[["d2ed2683.f85328"]]},{"id":"d2ed2683.f85328","type":"json","z":"2a362f0b.09c7","name":"","x":350,"y":160,"wires":[["df14ed7e.319f6","503ede96.fecb3","2a994427.2454cc","4e9db2b1.56445c"]]},{"id":"dccddfd6.c9578","type":"ui_text","z":"2a362f0b.09c7","group":"10453615.e83b4a","order":0,"width":0,"height":0,"name":"","label":"Date Time","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":103,"wires":[]},{"id":"2a994427.2454cc","type":"change","z":"2a362f0b.09c7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":578,"y":104,"wires":[["dccddfd6.c9578"]]},{"id":"4e9db2b1.56445c","type":"change","z":"2a362f0b.09c7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":579,"y":222,"wires":[["c1e7a671.add368"]]},{"id":"c1e7a671.add368","type":"ui_text","z":"2a362f0b.09c7","group":"10453615.e83b4a","order":0,"width":0,"height":0,"name":"","label":"Message : ","format":"{{msg.payload}}","layout":"row-left","x":775,"y":221,"wires":[]},{"id":"84cfadce.4e4a6","type":"mqtt out","z":"2a362f0b.09c7","name":"","topic":"","qos":"1","retain":"false","broker":"bd77639a.0fe6b","x":750,"y":300,"wires":[]},{"id":"ac1b4818.061fe8","type":"ui_switch","z":"2a362f0b.09c7","name":"RelaySW","label":"Relay","tooltip":"","group":"bab6be5e.19a76","order":0,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"JNL000000/wifi/switch/relay","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":560,"y":300,"wires":[["84cfadce.4e4a6"]]},{"id":"10453615.e83b4a","type":"ui_group","z":"","name":"Status","tab":"fd253d5.ee10ac","order":1,"disp":true,"width":"6"},{"id":"bd77639a.0fe6b","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"client-gazet","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bab6be5e.19a76","type":"ui_group","z":"","name":"Operate","tab":"fd253d5.ee10ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd253d5.ee10ac","type":"ui_tab","z":"","name":"Info","icon":"dashboard","order":2}]