4.1 sample/nodered0/nodered01.txt
[{"id":"2a362f0b.09c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5ff1432d.62f93c","type":"debug","z":"2a362f0b.09c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":220,"wires":[]},{"id":"eb8f375d.ee93a8","type":"inject","z":"2a362f0b.09c7","name":"","topic":"inTopic","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":380,"wires":[["e3033df6.873d5"]]},{"id":"e0899592.674c58","type":"inject","z":"2a362f0b.09c7","name":"","topic":"inTopic","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":320,"wires":[["e3033df6.873d5"]]},{"id":"e3033df6.873d5","type":"mqtt out","z":"2a362f0b.09c7","name":"","topic":"","qos":"1","retain":"true","broker":"1708fd94.e9cc52","x":510,"y":340,"wires":[]},{"id":"91acbc5d.ab31e","type":"mqtt in","z":"2a362f0b.09c7","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"1708fd94.e9cc52","x":130,"y":300,"wires":[["5ff1432d.62f93c"]]},{"id":"1708fd94.e9cc52","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]