4.1 sample/nodered0/nodered00.txt
[{"id":"c5444cab.026b1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a4f08d39.43b4f","type":"ui_gauge","z":"c5444cab.026b1","name":"","group":"4b751912.3bffc8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":230,"y":261,"wires":[]},{"id":"7b6aae2e.ba3c1","type":"function","z":"c5444cab.026b1","name":"","func":"msg.payload = Math.round(Math.random()*100)\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["a4f08d39.43b4f"]]},{"id":"ce50a383.10edf","type":"inject","z":"c5444cab.026b1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["7b6aae2e.ba3c1"]]},{"id":"4b751912.3bffc8","type":"ui_group","name":"Group 1","tab":"15a18d0f.a3b733","order":1,"disp":true,"width":6},{"id":"15a18d0f.a3b733","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]